[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
certifi = "==2018.1.18"
chardet = "==3.0.4"
idna = "==2.6"
requests = "==2.18.4"
"urllib3" = "==1.22"
PyYAML = "==3.12"

[requires]
python_version = "3.6"
